In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("C:\\Users\\Moon\\Desktop\\ds\\DS\\Decsion_tree.csv")
df

       compony                  job degree  salary_more_then_100k
0       google      sales executive     Bs                      0
1       google      sales executive     Ms                      0
2       google     business manager     Bs                      1
3       google     business manager     Ms                      1
4       google  computer programmar     Bs                      0
5       google  computer programmar     Ms                      1
6   abc pharma      sales executive     Ms                      0
7   abc pharma  computer programmar     Bs                      0
8   abc pharma     business manager     Bs                      0
9   abc pharma     business manager     Ms                      1
10    facebook      sales executive     Bs                      1
11    facebook      sales executive     Ms                      1
12    facebook     business manager     Bs                      1
13    facebook     business manager     Ms                      1
14    facebook  computer programmar     Bs                      1
15    facebook  computer programmar     Ms                      1

In [3]:
inputs=df.drop('salary_more_then_100k',axis='columns')
target=df['salary_more_then_100k']

In [4]:
inputs.head()

  compony                  job degree
0  google      sales executive     Bs
1  google      sales executive     Ms
2  google     business manager     Bs
3  google     business manager     Ms
4  google  computer programmar     Bs

In [5]:
target.head()

0    0
1    0
2    1
3    1
4    0
Name: salary_more_then_100k, dtype: int64

In [6]:
from sklearn.preprocessing import LabelEncoder

In [7]:
le_compony=LabelEncoder()
le_job=LabelEncoder()
le_degree=LabelEncoder()

In [8]:
inputs['compony_n']=le_compony.fit_transform(inputs['compony'])
inputs['job_n']=le_compony.fit_transform(inputs['job'])
inputs['degree_n']=le_compony.fit_transform(inputs['degree'])

In [9]:
inputs.head()

  compony                  job degree  compony_n  job_n  degree_n
0  google      sales executive     Bs          2      2         0
1  google      sales executive     Ms          2      2         1
2  google     business manager     Bs          2      0         0
3  google     business manager     Ms          2      0         1
4  google  computer programmar     Bs          2      1         0

In [10]:
inputs_n=inputs.drop(['compony','job','degree'],axis='columns')
inputs_n.head()

   compony_n  job_n  degree_n
0          2      2         0
1          2      2         1
2          2      0         0
3          2      0         1
4          2      1         0

In [11]:
from sklearn import tree

In [12]:
model=tree.DecisionTreeClassifier()

In [13]:
model.fit(inputs_n,target)

DecisionTreeClassifier()

In [14]:
model.score(inputs_n,target )

1.0

In [20]:
model.predict([[1,1,1]])

array([1], dtype=int64)